<div class="text-center">
  <h2 style="letter-spacing: 0.05em"><strong>LRC Creative</strong></h2>
  </br>
  <h5>We've experienced the nightmare of web development first hand and know there’s a better way!</h5>
  <h5>We're committed to providing a better experience and end result for our clients.</h5>

</br>
<button><a href="#contact">Contact us now!</a></button>
</br>
</br>
</div>
<div class="line-separator"></div>
</br>
</br>

<h3>What we do</h3>
</br>
<div class="text-center">
  <img src="images/lrc-icons.png" width="85%">
</div>

</br>
</br>
<div class="line-separator"></div>
</br>
</br>
<h5>Skills are essential but so is a keen focus on Communication, flexibility, Client Experience, Collaboration and end result. This is how we're different!</h5>

</br>
</br>

<h3 class="notice text-center" id="notice"><strong><%= notice %></strong></h3>
<a id="contact"></a>
<%= notice ? nil : (render "contact_forms/form") %>
