<div id="headerwrap">
  <div class="container">
    <div class="title-text" style="letter-spacing: 0.05em"><strong>LRC Creative</strong></div>
    </br>
  </div>
  </div>
  <div class="container">
    <div class="body-text">
      <h5>LRC Creative is a web development group focused on client satisfaction and providing an exceptional experience and product.</h5>
      <h5>We've been the client before and know you deserve a better experience.</h5>
    </div>

</br>
</br>
  <div class="text-center">
    <button style="font-size:2.3rem; font-weight:500"><a href="#contact">Contact us now!</a></button>
  </div>
</br>
</br>
<div class="line-separator"></div>

  </br>
  </br>

  <h3>What we do</h3>
  </br>
  <div class="text-center">
    <img src="images/lrc-icons.png" width="85%">
  </div>

  </br>
  </br>
  <div class="line-separator"></div>
  </br>
  </br>
  <h5>Skills are essential but so is a keen focus on Communication, flexibility, Client Experience, Collaboration and end result. This is how we're different!</h5>

  </br>
  </br>

  <h3 class="notice text-center" id="notice"><strong><%= notice %></strong></h3>
  <a id="contact"></a>
  <%= notice ? nil : (render "contact_forms/form") %>
<div class="container">
